<div class="navbar-container">
    <nav>
        <div class="image-container">
           <a href="#"><img src="/assets/images/royal-fitness-solutions-gold-logo.png" alt="royal-fitness-logo"></a> 
        </div>

        <div class="link-items">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Meal Plans</a></li>
                <li><a href="#">Training Plans</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</div>
