.profile-container {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
   // min-height: 100vh;
   
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
}

.user-info-container span {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #d3c686;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.notification-icon {
    width: 30px;
    height: 30px;
    fill: #4CAF50;
    transition: fill 0.3s ease;
}

.notification-icon:hover {
    fill: #FF5722;
}
